

.App {
  height: calc(100vh - 90px);
  background-color: #131313;

}

.outerwrap{
  background-color: gray;
  height: 100vh;
  min-height: 100%;

}

.navBar{
  width: 228px;
  height: calc(100% - 10px);
  padding: 10px;
  background-color: #040404;
  display: flex;
  flex-direction: column;
  .logo{
    
    padding: 1.5rem 0.8rem;
    svg{
      max-width: 130px;
      p{
        fill: white;
      }
    } 
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      
      color: white;
      list-style-type:none ;
      border-radius: 5px;
      padding: 0.7rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition:  all 0.3s ease-in-out;
      &:active{
        background-color: #282828 ;
      }

      &:hover{
        color: #faf6e9;
      }
    }
    
    
    }


  }
  .cookies{
    font-size: 0.6rem;
    color: #faf6e9;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    span{
      display: block;

  
    }
}
.misicControls{
  background-color: #282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  
}
.upperNav{
  
}
