.App {
  height: calc(100vh - 90px);
  background-color: #13131313;

}

.outerwrap{
  background-color: gray;
  height: 100vh;
  min-height: 100%;

}
.misicControls{
  background-color: #28282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}