*{
  box-sizing: border-box;
}

.App {
  height: calc(100vh - 90px);
  background-color: #131313;
  display: flex;
  
 

}

.outerwrap{
  background-color: gray;
  height: 100vh;
  min-height: 100%;

}

.navBar{
  width: 228px;
  height: calc(100% - 10px);
  padding: 10px;
  background-color: #040404;
  display: flex;
  flex-direction: column;
  .logo{
    
    padding: 1.5rem 0.8rem;
    svg{
      max-width: 130px;
      p{
        fill: white;
        
      }
    } 
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      
      color: white;
      list-style-type:none ;
      border-radius: 5px;
      padding: 0.7rem;
      font-size: 0.9rem;
      cursor: pointer;

      transition:  all 0.3s ease-in-out;
      display: flex;
        align-items: center;
      svg{
        fill: currentColor;
        height: 17px;
        width: 17px;
        margin-right: 10px  ;
        
      }
      &:active{
        background-color: #282828 ;
      }

      &:hover{
        color: #faf6e9;
      }
    }
    
    
    }


  }
  .cookies{
    font-size: 0.6rem;
    color: #faf6e9;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    span{
      display: block;

  
    }
}
.misicControls{
  background-color: #282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  
}
.upperNav{
  background-color: #090909;
  height: 50px;
  
  align-items: center;
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem 2.2rem 0;

  



}
.main{
  width: 100%;
  overflow-y: scroll;
  .mainContent{
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    h1{
      font-size: 1.5rem;
    }
  }

}
.cardsWrap{
  padding-bottom: 1rem;
  .card{
    background-color: #282828;
    border-radius: 10px;
    width: 180px;
    overflow: hidden;
    padding: 1.2rem 1.2rem 0.8rem;
    position: relative;
    &:hover{
      .playicon{
        opacity: 1;
      }
    }
    .cardImage{
      height: 160px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cardContent{
      padding: 0.6rem 0;
      h3{
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0;
        letter-spacing: 0.6px;



      }

    }
  }
}
.playicon{
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;


opacity: 0;


svg{
  margin: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

}