.App {
  height: calc(100vh - 90px);
  background-color: #131313;

}

.outerwrap{
  background-color: gray;
  height: 100vh;
  min-height: 100%;

}
.navBar{
  width: 200px;
  height: 100%;
  background-color: #040404;
}
.misicControls{
  background-color: #282828;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}